body {
    background-color: hsl(var(--light-accent-blue));
}

.request-password-reset-container {
    background-color: hsl(var(--light-blue));
    color: hsl(var(--pure-black));
    min-width: 30%;
    max-width: 60%;
}

.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.form-container input[type='text'] {
    width: 100%;
    border: 2px solid #000;
}

.form-container div:last-child {
    align-self: flex-end;
}

.form-container input[type='submit'] {
    background-color: hsl(var(--accent-blue));
    color: hsl(var(--pure-white));
}
