body {
    display: flex !important;
}

.error-msg {
    color: red;
}

header {
    background-color: hsl(var(--blue-shade)) !important;
    color: #fff !important;
    display: grid !important;
    grid-template-rows: 1fr 3fr 1fr !important;
    place-items: start center !important;
    width: 300px !important;
    height: 100vh !important;
    padding-block: 1rem !important;
    transition: all 250ms ease !important;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
}

header .logo {
    font-size: 2rem !important;
    color: hsl(var(--pure-white)) !important;
}

/*======= Whenever header is small ======== */
header.short {
    width: 100px !important;
}

header.short .sidebar-toggle {
    position: absolute !important;
    top: 1.5em !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}

header.short .logo {
    display: none !important;
}

header.short .sidebar-menu {
    display: none !important;
}

header.short .account-info {
    display: none !important;
}
/* ======= Whenever header is small ========= */

a:hover {
    text-decoration: none;
}

div.form-group:first-child {
    margin-top: 1rem;
}

span::before {
    font-size: 1.25rem;
}

input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'] {
    padding: 0.5rem;
}

/* Navigation bar */
nav {
    height: 100% !important;
}

nav .sidebar-menu {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}

.sidebar-menu li a {
    font-size: 1.25rem;
    color: hsl(var(--pure-white)) !important;
    transition: color 250ms ease;
}

.sidebar-menu li a:hover {
    color: hsl(var(--light-blue)) !important;
}

.account-info {
    align-self: center !important;
    background-color: hsl(var(--accent-blue));
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    position: relative;
}

.account-info p {
    margin: 0 !important;
}

.online::after,
.offline::after {
    content: '';
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.online::after {
    background-color: lightgreen;
}

.offline::after {
    background-color: red;
}

/* Body section */
.content-wrapper {
    padding: 2rem !important;
    width: 100% !important;
}
