{% extends "layout/base.html" %} {% block title %}PortfolioMe : Edit Profile{%
endblock %} {% block css %}<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/client/edit_profile.css') }}"
/>
{% endblock %} {% block content %}
<main class="edit-profile-container">
    <section class="account-info">
        <h1>Edit Account Information</h1>
        <form method="POST" class="form-container" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }} {% if form.username.errors %} {{
                form.username(placeholder='New username') }}
                <p class="error-msg">
                    {% for error in form.username.errors %} {{ error }} {%
                    endfor %}
                </p>
                {% else %} {{ form.username(placeholder='New username') }} {%
                endif %}
            </div>
            <div>
                {{ form.gender.label }}
                <span
                    >{% if form.gender.errors %} {{ form.gender }}
                    <p class="error-msg">
                        {% for error in form.gender.errors %} {{ error }} {%
                        endfor %}
                    </p>
                    {% else %} {{ form.gender }} {% endif %}
                </span>
            </div>
            <div>
                {{ form.email.label }} {% if form.email.errors %} {{
                form.email(placeholder='New email') }}
                <p class="error-msg">
                    {% for error in form.email.errors %} {{ error }} {% endfor
                    %}
                </p>
                {% else %} {{ form.email(placeholder='New email')}} {% endif %}
            </div>
            <div>
                {{ form.mailing_address.label }} {% if
                form.mailing_address.errors %} {{
                form.mailing_address(placeholder='New mailing address') }}
                <p class="error-msg">
                    {% for error in form.mailing_address.errors %} {{ error }}
                    {% endfor %}
                </p>
                {% else %} {{ form.mailing_address(placeholder='New mailing
                address')}} {% endif %}
            </div>
            <div>
                {{ form.phone_number.label }} {% if form.phone_number.errors %}
                {{ form.phone_number(placeholder='New phone number') }}
                <p class="error-msg">
                    {% for error in form.phone_number.errors %} {{ error }} {%
                    endfor %}
                </p>
                <!-- prettier-ignore -->
                {% else %} {{ form.phone_number(placeholder='New phone number')}} {% endif %}
            </div>
            <div>{{ form.submit }}</div>
        </form>
    </section>
</main>
{% endblock %} {% block javascript %}{% endblock %}
