{% extends "layout/base.html" %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/client/index.css') }}"
/>
{% endblock %} {% block title%}PortfolioMe : Home{% endblock %} {% block content
%}
<main>
    <div class="info-section">
        <h1 class="title">Management at its finest.</h1>
        <p>
            This application is meant for managing all the resumes in a smarter
            way. Automation with Artificial Inteligence (AI) has never been
            better.
        </p>
        {% if current_user.is_authenticated %} {% else %}
        <button id="signUp">Sign up now!</button>
        {% endif %}
    </div>
</main>
{% endblock %} {% block javascript %}
<script>
    $('#signUp').on('click', () => {
        location = '../register';
    });
</script>
{% endblock %}
