{% extends "layout/base.html" %}{% block title %}PortfolioMe : {{ job.name }}{%
endblock %} {% block css %}<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/client/job_detail.css') }}"
/>
{% endblock %} {% block content %}
<main class="job-detail-container">
    <section class="card">
        <div class="job-header">
            <h1>{{ job.name }}</h1>
        </div>
        <div>
            <img
                class="job-image"
                src="{{ url_for('static', filename='jobs/' + job.job_image) }}"
            />
        </div>
        <div class="job-details">
            <div>
                <span>What does a {{ job.name }} do?</span>
                <hr />
                <p>Description: {{ job.description }}</p>
            </div>

            <div>
                <span>Which department?</span>
                <hr />
                <p>Department: <b>{{ job.department }}</b></p>
            </div>

            <div>
                <span>What is the salary?</span>
                <hr />
                <p>Salary: <b>RM{{ job.salary }}</b></p>
            </div>

            <div>
                <span>The job's type?</span>
                <hr />
                <p>Job Type: <b>{{ job.job_type }}</b></p>
            </div>

            <div>
                {% if current_user.is_authenticated %}
                <a
                    class="apply-btn"
                    href="{{ url_for('client.upload_resume', job_id=job.id) }}"
                    >Apply for this job</a
                >
                {% else %}
                <a
                    class="apply-btn"
                    href="{{ url_for('auth.login', next='/job_board/' + job.id|string() ) }}"
                    >Login to register</a
                >
                {% endif %}
                <a href="{{ url_for('client.job_board') }}" class="cancel-btn"
                    >Back</a
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
