{% extends "layout/base.html" %} {% block title %}PortfolioMe : Upload Resume{%
endblock %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/client/upload_resume.css') }}"
/>
{% endblock %} {% block content %}
<main class="upload-resume-container">
    <div class="upload-resume-header">
        <h1>Resume</h1>
        Upload your resumes here.
    </div>
    <form
        method="POST"
        class="form-container"
        novalidate
        enctype="multipart/form-data"
    >
        {{ form.hidden_tag() }}
        <div class="upload">
            <img
                id="temp"
                src="{{ url_for('static', filename='images/photo.png') }}"
            />
            {{ form.resume }} {% if form.resume.errors %}
            <p class="error-msg">
                {% for error in form.resume.errors %} {{ error }} {% endfor %}
            </p>
            {% endif %}
        </div>
        <div>{{ form.submit }}</div>
        <div>
            {{ form.filename }}
            <input type="button" class="convert-btn" value="Parse Resume" />
        </div>
        <div>{{ form.output }}</div>
    </form>
</main>
{% endblock %} {% block javascript %}
<script>
    $(document).ready(function (e) {
        $('#submit').prop('disabled', true);
    });

    // Disable save resume button
    $('#output, #resume').on('change', function (e) {
        if ($('#output').val().trim() && $('#resume')[0].files.length > 0) {
            $('#submit').prop('disabled', false);
        } else {
            $('#submit').prop('disabled', true);
        }
    });

    // When button is clicked request is sent to server to process the image
    $('.convert-btn').on('click', (e) => {
        let form = new FormData();
        let file = $('#resume')[0].files;

        if (file.length > 0) {
            console.log(file);
            form.append('file', file[0]);

            $.ajax({
                url: '/parse_image',
                type: 'POST',
                data: form,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data != 0) {
                        $('#output').val(data.parsed_text);
                    }
                },
                error: function (err) {
                    console.log(err.statusText);
                },
            });
        } else {
            alert('Please select a file');
        }
    });

    $('#temp').on('click', () => {
        $('#resume').click();
    });

    $('#resume').on('change', (e) => {
        let allowedImageExtensions = ['jpg', 'png', 'jpeg'];
        let file = e.target.files[0];
        let chosenFileExtension = file.name.split('.')[1];

        // if there is image extensions
        if (allowedImageExtensions.includes(chosenFileExtension)) {
            $('iframe').remove();
            $('#temp').css('display', 'block');
            $('#temp').attr('src', URL.createObjectURL(file));
        }
        // if the extension is pdf file
        else if (chosenFileExtension === 'pdf') {
            $('#temp').css('display', 'none');
            let filename = URL.createObjectURL(file);
            $('.upload').prepend(
                `<iframe src="${filename}" width="500" height="600"></íframe>`
            );
        }
        // else restore back to normal
        else {
            $('iframe').remove();
            $('#temp').css('display', 'block');
            $('#temp').attr('src', '/static/images/photo.png');
        }
    });
</script>
{% endblock %}
