{% extends "layout/base.html" %} {% block title %}PortfolioMe : Upload Resume{%
endblock %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/client/upload_resume_details.css') }}"
/>
{% endblock %} {% block content %}
<main class="upload-resume-container">
    <div class="upload-resume-header">
        <h1>Resume</h1>
        Upload your resumes here.
    </div>
    <form
        method="POST"
        class="form-container"
        novalidate
        enctype="multipart/form-data"
    >
        {{ form.hidden_tag() }}

        <div>
            {{ form.name.label }} {% if form.name.errors %} {{ form.name }}
            <p class="error-msg">
                {% for error in form.name.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.name }} {% endif %}
        </div>

        <div>
            {{ form.age.label }} {% if form.age.errors %} {{ form.age }}
            <p class="error-msg">
                {% for error in form.age.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.age }} {% endif %}
        </div>

        <div>
            {{ form.ic.label }} {% if form.ic.errors %} {{ form.ic }}
            <p class="error-msg">
                {% for error in form.ic.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.ic }} {% endif %}
        </div>

        <div>
            {{ form.dob.label }} {% if form.dob.errors %} {{ form.dob }}
            <p class="error-msg">
                {% for error in form.dob.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.dob }} {% endif %}
        </div>

        <div>
            {{ form.mailing_address.label }} {% if form.mailing_address.errors
            %} {{ form.mailing_address }}
            <p class="error-msg">
                {% for error in form.mailing_address.errors %} {{ error }} {%
                endfor %}
            </p>
            {% else %} {{ form.mailing_address }} {% endif %}
        </div>

        <div>
            {{ form.postcode.label }} {% if form.postcode.errors %} {{
            form.postcode }}
            <p class="error-msg">
                {% for error in form.postcode.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.postcode }} {% endif %}
        </div>

        <div>
            {{ form.town.label }} {% if form.town.errors %} {{ form.town }}
            <p class="error-msg">
                {% for error in form.town.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.town }} {% endif %}
        </div>

        <div>
            {{ form.state.label }} {% if form.state.errors %} {{ form.state }}
            <p class="error-msg">
                {% for error in form.state.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.state }} {% endif %}
        </div>

        <div>
            {{ form.gender.label }} {% if form.gender.errors %} {{ form.gender
            }}
            <p class="error-msg">
                {% for error in form.gender.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.gender }} {% endif %}
        </div>

        <div>
            {{ form.phone_number.label }} {% if form.phone_number.errors %} {{
            form.phone_number }}
            <p class="error-msg">
                {% for error in form.phone_number.errors %} {{ error }} {%
                endfor %}
            </p>
            {% else %} {{ form.phone_number }} {% endif %}
        </div>

        <div>
            {{ form.marital_status.label }} {% if form.marital_status.errors %}
            {{ form.marital_status }}
            <p class="error-msg">
                {% for error in form.marital_status.errors %} {{ error }} {%
                endfor %}
            </p>
            {% else %} {{ form.marital_status }} {% endif %}
        </div>

        <div>
            {{ form.linkedin_url.label }} {% if form.linkedin_url.errors %} {{
            form.linkedin_url }}
            <p class="error-msg">
                {% for error in form.linkedin_url.errors %} {{ error }} {%
                endfor %}
            </p>
            {% else %} {{ form.linkedin_url }} {% endif %}
        </div>

        <div>
            {{ form.skills.label }} {% if form.skills.errors %} {{ form.skills
            }}
            <p class="error-msg">
                {% for error in form.skills.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.skills }} {% endif %}
        </div>

        <div>
            {{ form.soft_skills.label }} {% if form.soft_skills.errors %} {{
            form.soft_skills }}
            <p class="error-msg">
                {% for error in form.soft_skills.errors %} {{ error }} {% endfor
                %}
            </p>
            {% else %} {{ form.soft_skills }} {% endif %}
        </div>

        <div>
            {{ form.work_experience.label }} {% if form.work_experience.errors
            %} {{ form.work_experience }}
            <p class="error-msg">
                {% for error in form.work_experience.errors %} {{ error }} {%
                endfor %}
            </p>
            {% else %} {{ form.work_experience }} {% endif %}
        </div>

        <div>
            {{ form.agreement.label }} {% if form.agreement.errors %} {{
            form.agreement }}
            <p class="error-msg">
                {% for error in form.agreement.errors %} {{ error }} {% endfor
                %}
            </p>
            {% else %} {{ form.agreement }} {% endif %}
        </div>
        <div>{{ form.submit }}</div>
    </form>
</main>
{% endblock %} {% block javascript %} {% endblock %}
