body {
    background-color: hsl(var(--pink));
}

.register-container {
    background-color: #fff;
    padding: 4rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    min-width: 60%;
    max-width: 80%;
}

.register-header h1 {
    font-size: 3rem;
    color: hsl(var(--light-accent-blue));
}

/* All form elements */
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 4rem;
    row-gap: 1rem;
}

.form-container input[type='text'],
.form-container input[type='text']:focus,
.form-container input[type='password'],
.form-container input[type='password']:focus {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid hsl(var(--light-accent-blue));
    width: 80%;
    margin-top: 0.5rem;
    display: block;
}

.register-header p,
.form-container label {
    font-weight: 500;
    font-size: 1.15rem;
}

.form-container input[type='submit'],
.form-container input[type='submit']:focus {
    background-color: hsl(var(--light-accent-blue));
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.form-container div:nth-child(8) {
    grid-column: span 2;
    width: 50%;
}

.form-container > div:last-child,
.form-container > div:last-child > a {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
}

.form-container div span:last-child {
    margin-left: 1rem;
}

/* Custom checkbox */
.form-container span ul {
    list-style: none;
}

.form-container span input {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid hsl(var(--light-accent-blue));
}

.form-container span input:checked::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.25rem;
    background-color: hsl(var(--light-accent-blue));
}

.form-container div .error-msg {
    color: red;
}

/* Tablet media query */
@media screen and (max-width: 1200px) {
}

/* Smartphone media query */
@media screen and (max-width: 800px) {
    .form-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, 1fr);
    }

    .form-container div:nth-child(8) {
        grid-column: span 1;
        width: 100%;
    }
}
