{% extends 'admin/master.html' %}{% block head_css %} {{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/admin/login.css') }}"
/>
{% endblock %} {% block body %}
<div class="row-fluid">
    <div>
        <h1>Login Authentication for Admin</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }} {% for f in form if
            f.type != 'CSRFTokenField' %}
            <div class="form-group">
                {{ f.label }}<br />
                {{ f }} {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </form>
        {{ link | safe }}
    </div>
</div>
{% endblock body %}
