@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

:root:not(.dark) {
    --pink: 351 60% 83%;
    --dark-blue: 230 33% 21%;
    --light-blue: 230 58% 82%;
    --light-accent-blue: 238 95% 66%;
    --accent-blue: 250 80% 60%;
    --sky-blue: 202 74% 85%;
    --blue-shade: 230 90% 8%;
    --pure-white: 0 0% 100%;
    --pure-black: 0 0% 0%;
    --red: 13 69% 63%;
    --yellow: 46 100% 50%;
}

:root.dark {
    --pink: 352 77% 62%;
    --dark-blue: 230 58% 82%;
    --light-blue: 230 33% 21%;
    --light-accent-blue: 250 80% 60%;
    --accent-blue: 238 95% 66%;
    --sky-blue: 230 90% 8%;
    --blue-shade: 202 74% 88%;
    --pure-white: 0 0% 0%;
    --pure-black: 0 0% 100%;
}

/* Necessary adjustments */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-size: clamp(0.5rem, 1rem, 10rem);
}

html {
    transition: all 500ms ease-in-out;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

input[type='text'] {
    display: block;
}

button,
input,
textarea,
select {
    font-family: inherit;
}

/* Dollar sign means the attribute/class has to end with 'btn' e.g: smtg-btn, smtg btn */
button[class$='btn'],
a[class$='btn'],
input[type='submit'] {
    transition: 200ms ease-in-out;
}

a {
    text-decoration: none !important;
}

/* Screen-reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Alerts */
.alert {
    padding: 0.75rem;
    font-size: 1.1rem;
    position: fixed;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    animation: slide 5000ms linear forwards normal;
}

.alert.info {
    background-color: #e7e7e7;
}

.alert.success {
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--light-blue));
}

.alert.failed {
    background-color: hsl(0, 95%, 86%);
    color: hsl(0, 100%, 50%, 0.85);
}

@keyframes slide {
    0% {
        top: -10rem;
        opacity: 0;
    }
    10% {
        top: 3rem;
        opacity: 1;
    }
    90% {
        top: 3rem;
        opacity: 1;
    }
    100% {
        top: -10rem;
        opacity: 0;
    }
}
