/* Main section */
main {
    min-height: 80vh;
    background: url('../../images/resume\ image.png') no-repeat 75% 3rem,
        hsl(var(--light-blue));
}

main .info-section {
    padding: 5rem 0 5rem 15rem;
    max-width: 1000px;
}

.info-section .title {
    font-size: 3rem;
    color: hsl(var(--accent-blue));
}

.info-section p {
    font-size: 1.25rem;
    font-weight: 500;
}

.info-section button {
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: hsl(var(--pink));
    border-radius: 0.25rem;
    border: none;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

/* Tablet media query */
@media screen and (max-width: 1200px) {
}

/* Smartphone media query */
@media screen and (max-width: 800px) {
    main {
        background-position: 2rem 21rem;
        min-height: 100vh;
    }

    main .info-section {
        padding: 2rem 0 2rem 5rem;
    }
}
