<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/layout/base.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/layout/reset.css') }}"
        />
        {% block css %} {% endblock %}
    </head>
    <body>
        <!-- Alert message -->
        {% with messages = get_flashed_messages(with_categories=true)%} {% if
        messages %} {% for status, message in messages %}
        <div class="alert {{ status }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <header>
            <div class="logo">
                <img
                    src="{{ url_for('static', filename='images/Hamburger.png') }}"
                    alt="Hamburger Menu"
                    id="hamburger"
                />
                <a href="{{ url_for('home') }}">PortfolioMe</a>
            </div>
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('job_board') }}">Job Board</a>
                    </li>
                    <li>
                        <a href="{{ url_for('upload_resume') }}">Resume</a>
                    </li>
                </ul>
            </nav>
            {% if current_user.is_authenticated %}
            <div class="profile-container">
                <button id="profile">
                    <img
                        src="{{ url_for('static', filename='images/profile-circle.svg') }}"
                        alt="Account Information"
                    />
                    <div class="profile-box">
                        <a
                            href="{{ url_for('edit_profile') }}"
                            class="edit-profile-btn"
                            >Edit Profile</a
                        >
                        <a href="{{ url_for('logout') }}" class="logout-btn"
                            >Logout</a
                        >
                    </div>
                </button>
            </div>
            {% else %}
            <div class="authentication-box">
                <a href="{{ url_for('login') }}" class="login-btn">Login</a>
            </div>
            {% endif %}
        </header>
        <!-- Content section -->
        {% block content %} {% endblock %}
        <footer>
            <div class="legalities">
                <h4>Legalities</h4>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms &amp; Conditions</a>
            </div>
            <div class="about-us">
                <h4>About Us</h4>
                <p>
                    PortfolioMe is an application designed to manage resumes for
                    a company.
                </p>
            </div>
            <div class="icons">
                <a href="#"
                    ><img
                        src="{{ url_for('static', filename='images/instagram.svg') }}"
                        alt="Instagram Page"
                /></a>
                <a href="#"
                    ><img
                        src="{{ url_for('static', filename='images/youtube.svg') }}"
                        alt="YouTube Page"
                /></a>
                <a href="#"
                    ><img
                        src="{{ url_for('static', filename='images/github.svg') }}"
                        alt="GitHub Page"
                /></a>
            </div>
            <hr />
            <div class="copyright">Copyright &copy; 2022</div>
        </footer>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
        $(document).on('click', (e) => {
            if (e.target.matches('#hamburger')) {
                $('.navigation-bar').toggleClass('active');
                $('body').toggleClass('stop-scrolling');
            } else if (e.target.matches('#profile img')) {
                $('.profile-box').toggleClass('active');
            } else if (
                $('.navigation-bar').hasClass('active') ||
                $('body').hasClass('stop-scrolling') ||
                $('.profile-box').hasClass('active')
            ) {
                $('.navigation-bar').removeClass('active');
                $('body').removeClass('stop-scrolling');
                $('.profile-box').removeClass('active');
            }
        });
    </script>
    {% block javascript %}{% endblock %}
</html>
