<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='images/favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/layout/base_form.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/layout/reset.css') }}"
        />
        {% block css %}{% endblock %}
    </head>
    <body>
        <span id="close">&#10006;</span>
        {% with messages = get_flashed_messages(with_categories=true)%} {% if
        messages %} {% for status, message in messages %}
        <div class="alert {{ status }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %} {% block form %} {% endblock %}
    </body>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"
    ></script>
    <script>
        let mode = localStorage.getItem('mode');
        if (mode == 'dark') {
            $(':root').addClass('dark');
        } else if (mode == 'light') {
            $(':root').removeClass('dark');
        }
        $('#close').on('click', (e) => {
            location = '../';
        });
    </script>
    {% block javascript %}{% endblock %}
</html>
