body {
    font-weight: 500;
    z-index: 0;
}

main.edit-profile-container {
    padding-block: 4rem;
    padding-inline: 12rem;
    background-color: hsl(var(--pink));
}

section.account-info {
    margin-inline: auto;
    width: 75%;
    padding: 3rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--dark-blue));
}

.account-info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.account-card {
    position: relative;
    margin-inline: auto;
    border-radius: 0.5rem;
    background-color: hsl(var(--pure-white));
    width: 50%;
    background-clip: padding-box;
    padding: 1rem;
    border: 1px solid transparent;
    z-index: 0;
    box-shadow: 0px 15px 20px 0px hsl(var(--pure-black) / 0.5);
    color: hsl(var(--dark-blue));
}

.account-card::before {
    content: '';
    margin: -5px;
    background: linear-gradient(
        hsl(var(--sky-blue)),
        hsl(var(--light-accent-blue))
    );
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
}

.account-card h2 {
    font-size: 1.75rem;
}

.form-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
    border: 2px solid hsl(var(--dark-blue));
    width: 70%;
}

input[type='submit'] {
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--pure-white));
    margin-top: 1rem;
}

input[type='submit']:hover,
input[type='submit']:focus {
    background-color: hsl(var(--dark-blue) / 0.9);
}

.form-container label {
    font-size: 1.15rem;
}

/* Custom checkbox */
.form-container span ul {
    list-style: none;
    display: flex;
    column-gap: 1rem;
    padding-inline-start: 0;
}

.form-container span input {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid hsl(var(--dark-blue));
    background-color: hsl(var(--pure-white));
}

.form-container span input:checked::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: hsl(var(--dark-blue));
}

.form-container div .error-msg {
    color: red;
}

@media screen and (max-width: 1200px) {
    main.edit-profile-container {
        padding-inline: 6rem;
    }

    input[type='text'],
    input[type='password'],
    input[type='email'] {
        width: 85%;
    }

    .form-container span ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    main.edit-profile-container {
        padding-inline: 4rem;
    }

    input[type='text'],
    input[type='password'],
    input[type='email'] {
        width: 90%;
    }

    .form-container span ul {
        flex-direction: column;
    }
}
