.job-board-container {
    background-color: hsl(var(--light-blue));
    padding-inline: 5rem;
    padding-block: 2rem;
}

.job-board-header {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.job-board-header h1 {
    display: inline-block;
    font-size: 3rem;
    color: hsl(var(--accent-blue));
}

.job-board-header svg path {
    color: hsl(var(--accent-blue));
}

.header {
    align-items: center;
}

.action-container {
    display: flex;
    column-gap: 2rem;
}

.action-container form {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.action-container hr {
    border-color: black;
}

/* Filtering */
.filter-form {
    column-gap: 1rem;
}

.filter-form div label {
    color: hsl(var(--pure-black));
}

.filter-form div select {
    background-color: hsl(var(--pure-white));
    border: 1px solid hsl(var(--accent-blue));
    color: hsl(var(--pure-black));
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5rem;
}

.filter-form .salary {
    display: flex;
    align-items: center;
}

.filter-form .salary {
    position: relative;
    flex-direction: column;
    row-gap: 0.5rem;
}

.filter-form .salary p {
    display: inline-block;
    background-color: hsl(var(--light-accent-blue));
    padding: 0.25rem;
    min-width: 4rem;
    text-align: center;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    position: relative;
}

.filter-form .salary p::after {
    --spacing: 7px;
    content: '';
    position: absolute;
    top: 10px;
    left: calc(var(--spacing) * -1);
    width: 0;
    height: 0;
    border-top: var(--spacing) solid transparent;
    border-right: var(--spacing) solid hsl(var(--light-accent-blue));
    border-bottom: var(--spacing) solid transparent;
    pointer-events: none;
    user-select: none;
}

.filter-form > .submit-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.filter-form .filter-btn {
    background-color: hsl(var(--light-accent-blue));
}

.filter-form .clear-filters-btn {
    background-color: hsl(var(--red));
}

/* Searching */
#searchBar {
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem;
    height: 3rem;
    width: 100%;
}

#searchBtn {
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.5rem;
    height: 3rem;
    cursor: pointer;
}

.jobs-available {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
    place-items: center start;
    margin-bottom: 4rem;
}

.jobs-available a {
    border: 1px solid black;
    position: relative;
    background-color: hsl(var(--sky-blue));
    color: hsl(var(--blue-shade));
    padding: 1rem;
    width: 20vw;
    height: 25vh;
    overflow: hidden;
    transition: box-shadow 250ms ease;
}

.jobs-available a:hover {
    box-shadow: 15px 15px 0px 0px hsl(var(--accent-blue) / 0.7);
}

.jobs-available h2 {
    font-size: 1.5rem;
}

.jobs-available span {
    font-weight: 600;
}

.jobs-available a p {
    height: 8vh;
    overflow: hidden;
}

.pagination a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: hsl(var(--pure-black));
}

.pagination .current-page-btn {
    background-color: hsl(var(--accent-blue));
    border: 1px solid hsl(var(--accent-blue));
}

.pagination .page-btn {
    background-color: hsl(var(--pure-white));
    border: 1px solid hsl(var(--accent-blue));
}

@media screen and (max-width: 1200px) {
    .jobs-available {
        grid-template-columns: repeat(2, 1fr);
    }

    .jobs-available div {
        width: 20vw;
    }
}

@media screen and (max-width: 800px) {
    .job-board-container {
        padding-inline: 1rem;
        padding-block: 1rem;
    }

    .jobs-available {
        place-items: center;
    }

    .jobs-available div {
        width: 90%;
    }
}
