body {
    font-weight: 500;
}

.upload-resume-container {
    padding-block: 2rem;
    padding-inline: 4rem;
    background-color: hsl(var(--light-blue));
}

.upload-resume-header {
    margin: 0 auto;
    width: 80vw;
}

.upload-resume-header > h1 {
    color: hsl(var(--light-accent-blue));
    font-size: 3rem;
}

.form-container {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.form-container section {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 0 auto;
}

.form-container section div {
    min-width: 35vw;
    margin-bottom: 1rem;
}

.form-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.form-container section:nth-child(10) div {
    width: 100%;
}

.form-container
    div
    :not(input[type='radio']):not(input[type='checkbox']):not(input[type='submit']):not(label) {
    width: 100%;
}

.form-container div textarea {
    resize: vertical;
    min-height: 25vh;
}

#agreement {
    margin-right: 0.5rem;
}

.form-container div input[type='text'],
.form-container div input[type='tel'],
.form-container div input[type='number'],
.form-container div textarea,
.form-container div input[type='url'] {
    border: 2px solid hsl(var(--light-accent-blue));
}

/* Custom checkbox */
.form-container span ul {
    padding-inline-start: 0;
}

.form-container span ul li {
    margin-right: 0.5rem;
    display: inline;
}

.form-container span input {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.15rem solid hsl(var(--light-accent-blue));
}

.form-container span input:checked::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: hsl(var(--light-accent-blue));
}

#submit {
    background-color: hsl(var(--pink));
    margin-block: 1rem;
}

@media screen and (max-width: 1200px) {
    .form-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .form-container div {
        grid-row: auto;
    }
}

@media screen and (max-width: 800px) {
    .form-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .form-container div {
        grid-row: auto;
    }
}
