{% extends "layout/base_form.html"%} {% block title %}PortfolioMe: Login{%
endblock %} {% block css %}<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/login.css') }}"
/>{% endblock %} {% block form %}
<main class="login-container">
    <div class="login-header">
        <h1>Login</h1>
        <p>
            Don't have an account?
            <a href="{{ url_for('auth.register') }}">Sign Up Now.</a>
        </p>
    </div>
    <form method="POST" class="form-container" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {% if form.email.errors %} {{
            form.email(placeholder='Ex: abc@123.com') }}
            <p class="error-msg">
                {% for error in form.email.errors %} {{ error }} {% endfor %}
            </p>
            {% else %} {{ form.email(placeholder='Ex: abc@123.com') }} {% endif
            %}
        </div>
        <div>
            {{ form.password.label }} {% if form.password.errors %} {{
            form.password(placeholder='Ex: abc123@#$') }}<img
                src="{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}"
                class="toggle-password"
            />
            <p class="error-msg">
                {% for error in form.password.errors %} {{ error }} {% endfor %}
            </p>
            <!-- prettier-ignore -->
            {% else %} {{ form.password(placeholder='Ex: abc123@#$') }}
            <img
                src="{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}"
                class="toggle-password"
            />{% endif %}
            <div class="form-help">
                <div>{{ form.remember }} {{ form.remember.label }}</div>
                <div>
                    <a href="{{ url_for('auth.reset_password_request') }}"
                        >Forgot Password?</a
                    >
                </div>
            </div>
        </div>
        <div>
            {{ form.submit }} {% if button %}
            <input
                class="request-unblock-btn"
                type="button"
                value="{{ button }}"
            />
            {% endif %}
        </div>
    </form>
</main>
{% endblock %} {% block javascript %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/extras.js') }}"
></script>
<script>
    $('#email').focus();
    showHidePassword(
        "{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}",
        "{{ url_for('static', filename='images/Eye_Icon_UIA.svg') }}"
    );

    $('.request-unblock-btn').on('click', (e) => {
        e.preventDefault();
        let email = $('#email').val();
        $.ajax({
            // prettier-ignore
            url: '/request_unblock_account/' + email,
            type: 'GET',
            processData: false,
            success: function (response) {
                alert(
                    'Success! We will send an email to you once the admin has unblocked your account'
                );
            },
            error: function (xhr) {
                //Do Something to handle error
                alert(xhr.statusText);
            },
        });
    });
</script>
{% endblock %}
