{% extends "layout/base_form.html" %}{% block title %}PortfolioMe : Reset
Password{% endblock %} {% block css %}<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/reset_token.css') }}"
/>
{% endblock %} {% block form %}
<main class="reset-token-container">
    <div class="reset-token-header">
        <h1>Reset Password</h1>
    </div>
    <form method="POST" class="form-container" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }} {% if form.password.errors %} {{
            form.password(placeholder='New password') }}<img
                src="{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}"
                class="toggle-password"
            />
            <p class="error-msg">
                {% for error in form.password.errors %} {{ error }} {% endfor %}
            </p>
            <!-- prettier-ignore -->
            {% else %} {{ form.password(placeholder='New password') }}<img
                src="{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}"
                class="toggle-password"
            />
            {% endif %}
        </div>
        <div>
            {{ form.confirm_password.label }} {% if form.confirm_password.errors
            %} {{ form.confirm_password(placeholder='Same as new password')
            }}<img
                src="{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}"
                class="toggle-password"
            />
            <p class="error-msg">
                {% for error in form.confirm_password.errors %} {{ error }} {%
                endfor %}
            </p>
            <!-- prettier-ignore -->
            {% else %} {{ form.confirm_password(placeholder='Same as new password') }}<img
                src="{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}"
                class="toggle-password"
            />
            {% endif %}
        </div>
        <div>{{ form.submit }}</div>
    </form>
</main>

{% endblock %} {% block javascript %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/extras.js') }}"
></script>
<script>
    showHidePassword(
        "{{ url_for('static', filename='images/Eye_slash_Icon_UIA.svg') }}",
        "{{ url_for('static', filename='images/Eye_Icon_UIA.svg') }}"
    );
</script>
{% endblock %}
