{% extends "layout/base_form.html" %}{% block title %}PortfolioMe : Request
Reset{% endblock %} {% block css %}<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/auth/reset_password_request.css') }}"
/>
{% endblock %} {% block form %}
<main class="request-password-reset-container">
    <div class="request-password-reset-header">
        <h1>Request Reset Password</h1>
    </div>
    <form method="POST" class="form-container" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {% if form.email.errors %} {{
            form.email(placeholder='Your email to reset your password') }}
            <p class="error-msg">
                {% for error in form.email.errors %} {{ error }} {% endfor %}
            </p>
            <!-- prettier-ignore -->
            {% else %} {{ form.email(placeholder='Your email to reset your password') }} {% endif %}
        </div>
        <div>{{ form.submit }}</div>
    </form>
</main>

{% endblock %} {% block javascript %} {% endblock %}
