{% extends 'admin/model/edit.html' %} {% block head %} {{ super() }} {{
lib.form_css() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/custom/create.css') }}"
/>
{% endblock %} {% block body %} {% block navlinks %}
<h1>Create New Data</h1>
<ul class="nav nav-tabs d-flex justify-content-around">
    <li>
        <a class="btn btn-outline-primary" href="{{ return_url }}"
            >{{ _gettext('List') }}</a
        >
    </li>
    <li class="active">
        <a class="btn btn-outline-primary" href="javascript:void(0)"
            >{{ _gettext('Create') }}</a
        >
    </li>
</ul>
{% endblock %} {% block create_form %} {{ lib.render_form(form, return_url,
extra(), form_opts) }} {% endblock %} {% endblock %} {% block tail %} {{ super()
}} {{ lib.form_js() }}
<script>
    // if the url is jobboard then do this
    if (window.location.pathname.split('/').includes('jobboard')) {
        console.log('jobboard');
        // Make job_image input readonly so admin only uploads to file input
        $('#job_image').prop('readonly', true);
        $('#job_image').prop(
            'placeholder',
            'This is readonly upload your file below.'
        );

        $('#image').on('change', function (e) {
            let filename = e.target.files[0].name;
            $('#job_image').val(filename);
        });
    }

    // if the url is resume then do this
    if (window.location.pathname.split('/').includes('resume')) {
        // Make image input readonly so admin only uploads to file input
        console.log('resume');

        $('#image').prop('readonly', true);
        $('#image').prop(
            'placeholder',
            'This is readonly upload your file below.'
        );
        $('#temp').on('change', function (e) {
            let filename = e.target.files[0].name;
            $('#image').val(filename);
        });
    }
</script>

{% endblock %}
