{% extends 'admin/master.html' %} {% import 'admin/lib.html' as lib with context
%} {% from 'admin/lib.html' import extra with context %} {# backward compatible
#} {% block head %} {{ super() }} {{ lib.form_css() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/custom/edit.css') }}"
/>
{% endblock %} {% block body %} {% block navlinks %}
<h1>Edit Existing Data</h1>
<ul class="nav nav-tabs d-flex">
    <li>
        <a class="btn btn-outline-secondary" href="{{ return_url }}"
            >{{ _gettext('List') }}</a
        >
    </li>
    {%- if admin_view.can_create -%}
    <li>
        <a
            class="btn btn-outline-info"
            href="{{ get_url('.create_view', url=return_url) }}"
            >{{ _gettext('Create') }}</a
        >
    </li>
    {%- endif -%}
    <li class="active">
        <a class="btn btn-outline-primary" href="javascript:void(0)"
            >{{ _gettext('Edit') }}</a
        >
    </li>
    {%- if admin_view.can_view_details -%}
    <li>
        <a
            class="btn btn-outline-dark"
            href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}"
            >{{ _gettext('Details') }}</a
        >
    </li>
    {%- endif -%}
</ul>
{% endblock %} {% block edit_form %} {{ lib.render_form(form, return_url,
extra(), form_opts) }} {% endblock %} {% endblock %} {% block tail %} {{ super()
}} {{ lib.form_js() }}
<script>
    // if the url is jobboard then do this
    if (window.location.pathname.split('/').includes('jobboard')) {
        // Make job_image input readonly so admin only uploads to file input
        $('#job_image').prop('readonly', true);
        $('#old_image').prop('readonly', true);

        $('#image').on('change', function (e) {
            $('#old_image').val($('#job_image').val());
            let filename = e.target.files[0].name;
            $('#job_image').val(filename);
        });
    }

    // if the url is resume then do this
    if (window.location.pathname.split('/').includes('resume')) {
        // Make image input readonly so admin only uploads to file input
        $('#image').prop('readonly', true);
        $('#old_image').prop('readonly', true);

        $('#resume_image').on('change', function (e) {
            $('#old_image').val($('#image').val());
            let filename = e.target.files[0].name;
            $('#image').val(filename);
        });
    }
</script>
{% endblock %}
