{% extends "admin/master.html" %} {% block title %}PortfolioMe : Edit Resume {%
endblock %} {% block head_css %} {{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/custom/resume/details_resume.css') }}"
/>{% endblock %} {% block body %}
<main class="details-resume-container">
    <div class="details-resume-header">
        <h1>Resume Details</h1>
    </div>
    <div class="details-resume-content">
        <table>
            <tr>
                <td>Resume Id</td>
                <td>{{ resume.id }}</td>
            </tr>
            <tr>
                <td>Applicant Details</td>
                <td>{{ resume.applicant_details }}</td>
            </tr>
            <tr>
                <td>Date Edited</td>
                <td>{{ resume.date_edited }}</td>
            </tr>
            <tr>
                <td>Bookmarked</td>
                <td>{{ resume.is_bookmarked }}</td>
            </tr>
            <tr>
                <td>Hired</td>
                <td>{{ resume.is_hired }}</td>
            </tr>
            <tr>
                <td>Resume Image</td>
                <td>
                    <img
                        src="{{ url_for('static', filename='resumes/' + resume.image) }}"
                    />
                </td>
            </tr>
            <tr>
                <td>Associated Applicant</td>
                <td></td>
            </tr>
        </table>
    </div>
</main>
{% endblock %}
